//#include virtual="/virtual/common/config.inc.html"
block variables
	- var months = ['jan','fev','mar','abr','mai','jun','jul','ago','set','out','nov','dez'];
	- var section= 'Poder';
	- var section_slug= section.toLowerCase();
	- var credit = '';
	- var origin = '';

<!--#set var="section" value="#{section}"-->
<!--#set var="section_slug" value="#{section_slug}"-->
<!--#set var="image" value="#{share_image}"-->
<!--#set var="title" value="#{title}"-->
<!--#set var="url" value="#{url}"-->

doctype html
html.no-scroll(lang="pt-br")
	head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#")
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
		//#include virtual="/virtual/$version/common/head__embed.inc.html"
		style(type='text/css', media='screen')
			| .no-scroll{overflow:hidden}
		script(src="//arte.folha.uol.com.br/library/pym/pym.v1.min.js")

		link(rel='stylesheet', href='//arte.folha.uol.com.br/library/folhastyle/2.1/css/folhastyle-min.css')

	body.no-scroll
		script.
				var pymChild = new pym.Child();
				function load() {
					if (pymChild) {
						pymChild.sendHeight();
					}
				}
				window.resize = function() { load(); };
				(function() {
				    load();
				})();
		//- .loading
		//- 	.loader

		main.folhastyle
			article.container.text
				header.graphic__header
					h1.graphic__header_title= title
					p.graphic__header_lead= lead
				.row_flex.graphic#root
					block content
		//#include virtual="/virtual/$version/common/footer__embed.inc.html"
